.student-data{
    display: inline-block;
    border: solid 2px rgb(172, 8, 98);
    padding: 30px;
}
.subButton{
    background-color: white; 
    color: black; 
    border: 2px solid #030100;
    padding: 5px;
}
.subButton:hover{
    background-color: #4403ad;
    color: white;
}
.info{
    color: darkblue;
    font-weight: bold;
    margin-left: 2px;
}